{% extends "include/base.html" %}
{% block title %}
    <title>BINLOG ROLLBACK</title>
{% endblock %}
{% block name %}
    BINLOG解析/回滚SQL
{% endblock %}
{%block content%}

<div class="row clearfix">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    操作选项
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <h5 class="control-label text-bold">选择实例：</h5>
                        <div class="form-group">
                            <select id="instance_name" name="instance_name"
                                    class="selectpicker show-tick form-control bs-select-hidden"
                                    title="请选择实例:"
                                    data-live-search="true" required>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input id="save_sql" type="checkbox">
                                    是否保存到文件(异步操作)
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <h5 class="control-label text-bold">解析模式：</h5>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input id="no_pk" type="checkbox">
                                    --no-primary-key
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input id="flashback" type="checkbox">
                                    --flashback
                                </label>
                            </div>
                            <div class="form-group">
                                <input type="number" class="form-control" id="back_interval"
                                       placeholder="每一千行回滚SLEEP多少秒"
                                       onkeyup="if(event.keyCode !=37 && event.keyCode != 39)value=value.replace(/\D/g,'')">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <h5 class="control-label text-bold">解析范围控制：</h5>
                        <div class="form-group">
                            <input type="number" class="form-control" id="num" placeholder="页面解析行数，默认30"
                                   onkeyup="if(event.keyCode !=37 && event.keyCode != 39)value=value.replace(/\D/g,'')">
                        </div>
                        <div class="form-group">
                            <select id="start_file" class="selectpicker form-control"
                                    title="起始解析文件:"
                                    required>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="number" class="form-control" id="start_pos" placeholder="起始解析位置(可选)"
                                   onkeyup="if(event.keyCode !=37 && event.keyCode != 39)value=value.replace(/\D/g,'')">
                        </div>
                        <div class="form-group">
                            <select id="end_file" class="selectpicker form-control"
                                    title="终止解析文件(可选):"
                                    required>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="number" class="form-control" id="end_pos" placeholder="终止解析位置(可选)"
                                   onkeyup="if(event.keyCode !=37 && event.keyCode != 39)value=value.replace(/\D/g,'')">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control form_datetime" id="start_time"
                                   placeholder="起始解析时间(不建议)">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control form_datetime" id="stop_time"
                                   placeholder="终止解析时间(可选)">
                        </div>
                    </div>
                    <div class="form-group">
                        <h5 class="control-label text-bold">对象过滤：</h5>
                        <div class="checkbox">
                            <label>
                                <input id="only_dml" type="checkbox" checked>
                                --only-dml
                            </label>
                        </div>
                        <div class="form-group">
                            <select id="only_schemas" class="selectpicker form-control "
                                    data-live-search="true"
                                    title="数据库过滤(可选):"
                                    required>
                            </select>
                        </div>
                        <div class="form-group">
                            <select id="only_tables" class="selectpicker form-control "
                                    data-live-search="true"
                                    title="表过滤(可选):"
                                    multiple="multiple" required>
                            </select>
                        </div>
                        <select id="sql_type" class="selectpicker form-control "
                                data-live-search="true"
                                title="类型过滤(可选):"
                                multiple="multiple" required>
                            <option value="INSERT">INSERT</option>
                            <option value="UPDATE">UPDATE</option>
                            <option value="DELETE">DELETE</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button id="binlog2sql" class="btn btn-danger">获取SQL</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9 column">
            <div class="panel panel-default">
                <div class="panel-heading">
                    SQL语句
                </div>
                <div class="panel-body">
                    <h5 class="control-label text-bold" style="color: red">
                        <b>前端展示数量由解析范围参数控制，如果勾选了保存到文件，则会异步获取完整的SQL文件，
                            保存到项目downloads目录，起始时间过滤存在性能问题，建议使用position进行过滤，
                            在开启邮件通知后，执行结束会邮件通知给操作人</b>
                    </h5>
                    <br>
                    <table id="tb-binlog2sql" data-toggle="table" class="table table-condensed"
                           style="table-layout:inherit;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;"></table>
                </div>
            </div>
        </div>
    </div>


{% endblock %}


{% block js %}

    <script>

        console.log(1);
         //获取用户实例列表
        $(function () {
           $.get({
                type: "POST",
                url: "/all_instances/",
                dataType: "json",
                complete: function () {
                },
                success: function (data) {

                    if (data.status === 1) {

                        $("#instance_name").empty();

                        $.each(data['data'],function(index,obj){

                            let instance = "<option value=\"" + obj.instance_name + "\" data-id=\"" + obj.id + "\" >" + obj.instance_name + "</option>";
                            $("#instance_name").append(instance);

                        });
                        $('#instance_name').selectpicker('render');
                        $('#instance_name').selectpicker('refresh');
                    } else {
                        alert(data.msg);
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });


        //实例变更获取数据库\BINLOG
        $("#instance_name").change(function () {

            dataId = $('#instance_name').find("option:selected").data("id");
            console.log(dataId)
            //获取db_name
            $.get({
                type: "post",
                url: "/get_instances_database/",
                dataType: "json",
                data: {
                    instance_name: $("#instance_name").val(),
                    data_id: $('#instance_name').find("option:selected").data("id"),
                    resource_type: "database"
                },
                complete: function () {
                },
                success: function (data) {
                    if (data.status === 1) {
                        var result = data.data;
                        console.log(result)
                        $("#only_schemas").empty();
                        for (var i = 0; i < result.length; i++) {
                            var name = "<option value=\"" + result[i] + "\">" + result[i] + "</option>";
                            $("#only_schemas").append(name);
                        }
                        $('#only_schemas').selectpicker('render');
                        $('#only_schemas').selectpicker('refresh');
                    } else {
                        alert(data.msg);
                    }
                }
            })
          });


        //数据库变更获取表名称
        $("#only_schemas").change(function () {
            //将数据通过ajax提交给获取db_name
            $.ajax({
                type: "post",
                url: "/get_instances_database/",
                dataType: "json",
                data: {
                    instance_name: $("#instance_name").val(),
                    db_name: $("#only_schemas").val(),
                    resource_type: "table"
                },
                complete: function () {
                },
                success: function (data) {
                    if (data.status === 1) {
                        var result = data.data;
                        $("#only_tables").empty();
                        for (var i = 0; i < result.length; i++) {
                            var name = "<option>" + result[i] + "</option>";
                            $("#only_tables").append(name);
                        }
                        $("#only_tables").prepend("<option value=\"is-empty\" disabled=\"\">表过滤(可选):</option>");
                        $('#only_tables').selectpicker('render');
                        $('#only_tables').selectpicker('refresh');
                    } else {
                        alert(data.msg);
                    }
                }
            });
        });

        });

    </script>
{% endblock %}