{% extends "include/base.html" %}
{% block title %}
    <title>instance</title>
{% endblock %}
{% block name %}
    实例列表
    <button id="btn_add_master" type="button" class="btn btn-default" onclick="window.open('/admin/myapp/db_instance/add/')">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        去后台添加实例
    </button>
{% endblock %}

{%block content%}
    <div class="col-xs-10 col-md-12 main ">
        
        <form role="form" method='post'>
            {% csrf_token %}
            <div>
                <table >
                    <tr>

                        <td> 实例名称 : </td>
                        <td>
                            {% if instance_name == 'all' %}
                            <input class="form-control col-md-6" name="instance" type="text"  value = "" placeholder="输入实例名称">
                            {% else %}
                             <input class="form-control col-md-6" name="instance" type="text"  value = "{{ instance_name }}">
                            {% endif %}
                        </td>


                        <td> 实例类型 : </td>
                        <td>
                            <select class="form-control col-md-3" name="type">
                                {% for k,v in type_list.items %}
                                <option value = "{{ k }}"  {% if k == type %} selected {% endif %} >{{ v }} </option>
                                {% endfor %}
                            </select>
                        </td>

                        <td> 数据库类型 : </td>
                        <td>
                            <select  class="form-control col-md-3" name="db_type">
                                {% for k,v in db_type_list.items %}
                                <option value = "{{ k }}"  {% if k == db_type %} selected {% endif %} >{{ v }} </option>
                                {% endfor %}
                            </select>
                        </td>

                    </tr>

                </table>
                </br>
                    <button name="ins" class="btn btn-primary" value="1">提交</button >
                </br>
            </div>

        <table class="table table-condensed" border="1" style="margin-top:10px">
            <thead>
            <tr >
                <th>实例名称</th>
                <th>实例类型</th>
                <th>数据库类型</th>
                <th>HOST</th>
                <th>PORT</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
                {% if instance_res %}
                {% for res in instance_res %}
                <tr>
                    <td> {{ res.instance_name }} </td>
                    <td> {{ res.type }} </td>
                    <td> {{ res.db_type }} </td>
                    <td> {{ res.ip }} </td>
                    <td> {{ res.port }} </td>
                    <td> <a href="{% url 'users' res.id res.instance_name %}" > 用户权限列表 </a> </td>
                </tr>
                {% endfor %}
             {% else %}
                <tr class="no-records-found">
                     <td colspan="8" style="vertical-align: middle !important;text-align: center;"> 没有匹配的记录...... </td>
                </tr>
             {% endif %}
            </tbody>
        </table>

    </form>

    </div>

{% endblock %}

{% block script %}

    <script>

    </script>


{% endblock %}

