<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>1</title>

    <!-- 引入 Bootstrap -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'metisMenu/css/metisMenu.min.css' %}" rel="stylesheet">
    <link href="{% static 'sb-admin-2/css/sb-admin-2.css' %}" rel="stylesheet">
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap-select/css/bootstrap-select.min.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap-table/css/bootstrap-table.min.css' %}" rel="stylesheet">

    <script src="{% static 'jquery/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'metisMenu/js/metisMenu.min.js' %}"></script>
    <script src="{% static 'sb-admin-2/js/sb-admin-2.js' %}"></script>
    <script src="{% static 'bootstrap-select/js/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'bootstrap-select/js/i18n/defaults-zh_CN.min.js' %}"></script>
    <script src="{% static 'bootstrap-table/js/bootstrap-table.min.js' %}"></script>
    <script src="{% static 'bootstrap-table/js/bootstrap-table-zh-CN.min.js' %}"></script>

    <script src="{% static 'dist/js/formatter.js' %}"></script>

</head>
<body>

<div id="wrapper">

    {% block nav %}
        {% include "include/nav.html" %}
    {% endblock %}

    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="clearfix">
            <br>
            {% block content %}

            {% endblock content %}
            <!--底部部分 -->
            <hr>
        </div>
    </div>
    <!-- /#page-wrapper -->

</div>

</body>
<script>
    <!-- 解决CSRF-->
    $(function () {
        $.ajaxSetup({
            headers: {"X-CSRFToken": getCookie("csrftoken")}
        });
    });

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
</script>
{% block js %}
{% endblock %}
</html>
